* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html{
    /*me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
}

/* MI ARTE  */

.box {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg); /*animation: animate 20s linear infinite;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, #0004);
    cursor: pointer;
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.miarte{
    
    background-image: url('./img/temp.jpg') !important;
    background-size: cover; 
    background-position: center; 
    display: flex;
    align-items: center;
    height: 100vh; /* Esto establece la altura de la sección al 100% del viewport height */
    margin: 0; /* Asegura que no haya márgenes alrededor de la sección */
    justify-content: center;
    padding: 0; 
    
}

.contenedor-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*MENU*/

.contenedor-header {
    background-image: url("./img/menu.jpg");
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border-radius: 2em;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color:black;
}

/* SOBRE MI */

.sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./img/temp.jpg");
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    text-align: center;
    
  }
  
  /* Estilos para el círculo de la foto */
  .foto-circulo {
    width: 150px; /* Ancho del círculo */
    height: 150px; /* Altura del círculo */
    border-radius: 50%; /* Forma de círculo */
    overflow: hidden; /* Oculta lo que se sale del círculo */
    margin-bottom: 0.1em;
  }
  
  .foto-circulo img {
    width: 100%; /* Ajusta la imagen al tamaño del contenedor */
    height: auto;
    border-radius: 50%; /* Para asegurar que la imagen sea circular */
  }

  .sobre-mi h2 {
    color: #3b757f;
    margin-bottom: 2em;
    font-weight: bold;
  }

  .sobre-mi span {
    color: #3b757f;
    font-weight: bold;
    font-size: 1.2em;
    
  }

  .sobre-mi p {
    font-size: 1.2em;
    text-align: center; /* Centra el texto */
   
  }

  .texto-sobre-mi {
    margin-top: 40px;
    max-width: 50%; /* El texto ocupa todo el ancho disponible */
    word-wrap: break-word;
    line-height: 1.6;
  }

  /* CONTACTO */

  .seccion-contacto {
    text-align: center;
    padding: 50px 0;
    background-image: url("./img/menu.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 99;
    justify-content: center;
    align-items: center;
  }

  .seccion-contacto h2 {
    color: #fff;
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior e izquierda */
    1px -1px 0 #000, /* Sombra superior y derecha */
    -1px 1px 0 #000, /* Sombra inferior e izquierda */
    1px 1px 0 #000; /* Sombra inferior y derecha */
    letter-spacing: 0.2em;
  }
  
  .iconos-contacto {
    margin-top: 20px;
  }
  
  .iconos-contacto a {
    display: inline-block;
    margin: 0 15px;
    font-size: 2em;
  }
  
  
  /* Estilo para el botón de cierre */
  .boton-cerrar {
    position: absolute;
    width: 100%;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
  }

  
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #3b757f;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}








/* SCROLL */

/* Estilos para el track del scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del track */
}

/* Estilos para el thumb del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 4px; /* Radio del borde del thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb al pasar el cursor */
}